<% include ./partials/header %>

<div class="content">
<div class="jumbotron">
	<form action="/search" method="GET">
		<div class="form-group">
    		<input name="tSearch" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    		<span class="input-group-btn">
        		<input class="btn btn-success" type="submit">Go!</button>
      		</span>
      		<span class="input-group-btn">
        		<input class="btn btn-success" type="submit">Go!</button>
      		</span>
  		</div>
	</form>
</div>
</div>

<% include ./partials/footer %>