<% include ./partials/header %>

<div class="content">
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 id="title-page">Welcome to BookDen. A place where we make buying book easy.</h1>
    </div>
  </div>
</div>
</div>

<% include ./partials/footer %>