html, body {
	height: 100%;
}

body {
	font-family: 'Roboto Slab', sans-serif;
	display: flex;
	flex-direction: column;
}

.content {
  	flex: 1 0 auto;
}

.navbar	{
	background-color: #3380d0;
}

.navbar-default .navbar-nav>li         {
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: white;
	display: block;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
	color: orange;
}

.navbar-default .navbar-toggle	{
	border-color: #3380d0;
}

.navbar-default .navbar-toggle:hover .navbar-toggle:focus	{
	background-color: #5B9ADA;
}

.navbar-default .navbar-toggle .icon-bar	{
	background-color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover 	{
	color: white;
}

@media (max-width: 699px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    	color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    	color: orange;
    }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover	{
	background-color: #5B9ADA;
}


#bs-example-navbar-collapse-1 {
	background-color: #3380d0;
}

.promise {
	text-align: center;
	color: #4BB543;
}

.center {
	text-align: center;
}

#footer {
	font-weight: 600;
	padding-left: 10px;
	background: #eee;
	border-top: solid #46C2FF;
	grid-row-start: 2;
 	grid-row-end: 3;
}

hr { 
	border: 0; 
	height: 1px;
	background-image: linear-gradient(to right, rgba(70, 194, 255, 0), rgba(70, 194, 255, 0.75), rgba(70, 194, 255, 0)); 
}

.navbar-form {
	margin-left: 30%;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2),
				0px -2px 5px rgba(0,0,0,0.2),
				2px 0px 5px rgba(0,0,0,0.2),
				2px 0px 5px rgba(0,0,0,0.2);
	padding: 0px;
	max-width: 150px;
}

.row.text-center {
	display: flex; 
	flex-wrap: wrap;
}