<% include ../partials/header %>

<div class="content">
<div class="container">
	<div class="row" style="width: 30%; margin: 25px auto;">
		<h1 class="center"> Login </h1>
		<form action="/login" method="POST">
			<div class="form-group">
				<input id="login" type="text" name="username" placeholder="Username" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="password" name="password" placeholder="Password" class="form-control" required>
			</div>
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
			</div>
			<div class="center"><a href="/forgot/username">Forgot your username?</a></div>
			<div class="center"><a href="/forgot/password">Forgot your password?</a></div>
		</form>
	</div>
</div>
</div>

<% include ../partials/footer %>