<% include ../partials/header %>
<div class="content">
<div class="container">
	<div class="row" style="width: 30%; margin: 25px auto;">
		<h1 class="center"> Register </h1>
		<form action="/register" method="POST">
			<div id="username" class="form-group">
				<input type="text" name="username" placeholder="Username" class="form-control" required>
			</div>
			<div id="email" class="form-group">
				<input type="email" name="email" placeholder="E-mail" class="form-control" required>
			</div>
			<div id="pass" class="form-group">
				<input type="password" name="password" placeholder="Password" class="form-control" required>
			</div>
			<div id="cpass" class="form-group">
				<input type="password" name="cpassword" placeholder="Confirm password" class="form-control" required>
			</div>
			<p id="error" style="color: red"></p>
			<p class="promise"><i class="fa fa-handshake-o" aria-hidden="true"></i> We won't spam. It's a promise.</p>
			<div class="form-group">
				<input id="sub" type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
			</div>
			<script type="text/javascript" src="/scripts/register.js"></script>
		</form>
	</div>
</div>
</div>
<% include ../partials/footer %>